.filter-container {
    border: 1px solid lightgrey;
    border-radius: 8px;

    .filter-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        font-weight: 600;
        gap: 20px;
        border-bottom: 1px solid lightgrey;
        padding: 20px;
    }

    .filter-wrappers {
        padding: 20px;

        label {
            text-transform: capitalize;
        }

        p {
            font-size: 15px;
            font-weight: 600;
        }
    }

    .divider {
        border-top: 1px solid lightgray;
        margin-bottom: 10px;
    }
}

.hotels-container {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 30px;
    scroll-behavior: smooth;
}